body{
  background-color: #081b29;

}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* #typing{
  position: relative;
}
#typing::after{
  content: "";
  left: 0%;
  position: absolute;
  height: 100%;
  width: 70%;
  top:0;
  background-color: #081b29;
  border-left: 2px solid white;
animation: typing 2s steps(10) infinite;
}
@keyframes typing {
  100%{
    left: 45%;
    margin: 0 -35px 0  35px;}
} */
